<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITreeService1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="BasicHttpBinding_ITreeService">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap11" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="268435456"
                            maxArrayLength="268435456" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                    <httpTransport manualAddressing="false" authenticationScheme="Basic"
                        realm="Basic Realm" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:46271/TreeService.svc" binding="customBinding"
                bindingConfiguration="BasicHttpBinding_ITreeService" contract="TreeServiceReference.ITreeService"
                name="BasicHttpBinding_ITreeService" />
        </client>
    </system.serviceModel>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>